
h1{
    text-align: center;

}
body{
    background-color: rgb(69, 172, 212);
}

input{
    width: 150px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 600px;
    background-color: rgba(57, 241, 11, 0.795);
    color: white;
    border: none;
}
.student{
    width: 150px;
    height: 50px;
    position: relative;
    top: 200px;
    left: 450px;
    background-color: rgba(19, 17, 17, 0.795);
    color: white;
    border: none;
}
